<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Homepage</title>
    </head>
    <body>
        <h2>Employee Information</h2>
        <form method = "post">
            {% csrf_token %}
            {{ form.as_p}}
        </form>
        <div class="control is-expanded">
            <input class="input" type="text">
        </div>
    <div class="control">
        <button class="button is-info">
            Add Employee Number
        </button>
    </div>
    </body>
    <body>
        <form method = "post">
            {% csrf_token %}
            {{ form.as_p}}
        </form>
        <div class="control is-expanded">
            <input class="input" type="text">
        </div>
    <div class="control">
        <button class="button is-info">
            Add Employee First Name
        </button>
    </div>
    </body>
    <body>
        <form method = "post">
            {% csrf_token %}
            {{ form.as_p}}
        </form>
        <div class="control is-expanded">
            <input class="input" type="text">
        </div>
    <div class="control">
        <button class="button is-info">
            Add Employee Last Name
        </button>
    </div>
    </body>
    <body>
        <form method = "post">
            {% csrf_token %}
            {{ form.as_p}}
        </form>
        <div class="control is-expanded">
            <input class="input" type="text">
        </div>
    <div class="control">
        <button class="button is-info">
            Add Employee Position
        </button>
    </div>
    </body>
    <body>
    <h2>Department Information</h2>
        <form method = "post">
            {% csrf_token %}
            {{ form.as_p}}
        </form>
        <div class="control is-expanded">
            <input class="input" type="text">
        </div>
    <div class="control">
        <button class="button is-info">
            Add Department Number
        </button>
    </div>
    </body>
        <form method = "post">
            {% csrf_token %}
            {{ form.as_p}}
        </form>
        <div class="control is-expanded">
            <input class="input" type="text">
        </div>
    <div class="control">
        <button class="button is-info">
            Add Department Name
        </button>
    </div>
    </body>
        <form method = "post">
            {% csrf_token %}
            {{ form.as_p}}
        </form>
        <div class="control is-expanded">
            <input class="input" type="text">
        </div>
    <div class="control">
        <button class="button is-info">
            Add Department Phone
        </button>
    </div>
    </body>
</html>